<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Week Planner
      </h1>
      <h2 class="subtitle">
        Shopping made easy...
      </h2>
    </div>
  </div>
</section>

<div class="container">
  <nav class="navbar" role="navigation">
    <div id="basicNavBar" class="navbar-menu">
      <div class="navbar-start">
        <a routerLink="/my-recipes" routerLinkActive="active" class="navbar-item">
          My Recipes
        </a>
        <a class="navbar-item" routerLink="/organize-week" routerLinkActive="active">
          Organize Week
        </a>
      </div>
    </div>
  </nav>
</div>

